{% extends "layout.html" %}

{% block body %}
  <form action="{{url_for('request_processor')}}" method="POST" class=diff_req>
    <p>1st package:</p>
    <input type=text size=30 name=pkg1>
    <select required name=pkg1_release>
      <option value="">Release</option>
      <option value="25">25</option>
      <option value="24">24</option>
      <option value="23">23</option>
    </select>
    <select required name=pkg1_arch>
      <option value="">Arch</option>
      <option value="x86_64">64-bit</option>
      <option value="i386">32-bit</option>
      <option value="noarch">noarch</option>
    </select>

    <p>2nd package:</p>
    <input type=text size=30 name=pkg2>
     <select required name=pkg2_release>
      <option value="">Release</option>
      <option value="25">25</option>
      <option value="24">24</option>
      <option value="23">23</option>
    </select>
    <select required name=pkg2_arch>
      <option value="">Arch</option>
      <option value="x86_64">64-bit</option>
      <option value="i386">32-bit</option>
      <option value="noarch">noarch</option>
    </select>
    <br></br>
    <input type="submit" name="submit-form" value="Send">
  </form>
{% endblock %}
